
.vscode/*
__pycache__/*
__pycache__/
*.pyc
data/*
debug.sh
debug.py
*.slurm
*.out
# *.png
*.pth

# utils
utils/pointnet_lib/pointnet2.egg-info
utils/pointnet_lib/dist
utils/pointnet_lib/build
ztosave/
Depth-Anything-V2/
data/
ztest/

# third party
third_party/TAPIP3D/third_party/pointnet_lib/pointnet2.egg-info
third_party/TAPIP3D/third_party/pointnet_lib/dist
third_party/TAPIP3D/third_party/pointnet_lib/build
third_party/TAPIP3D/third_party/pointops2/pointops2.egg-info
third_party/TAPIP3D/third_party/pointops2/build
third_party/TAPIP3D/third_party/pointops2/dist
third_party/sam2

# datasets
new_data/
raw_data/

# outputs
outputs/*
outputs_PAT/*
outputs_PAT_1/
outputs_PAT_2/
outputs_PAT_3/
outputs_*/

# git scripts
git_script/

# SLURM outputs
# SLURM_execution/

# debug
# debug/

# checkpoints and environment
particulate/model_ckpt/
*.ckpt
videoartgs.tar.gz
.env

# logs
logs/
time_logs/